## tested on python 3.11.6 Windows ##

# Dev dependencies (required for building) ->

ruff>=0.4.8 # Python file formatter and linter
python-minifier>=2.9.0 # Python file compression 

# Output dependencies (required for using the output) ->

pygame==2.5.2 # Game engine